@import "./base/funcionalidades";
@import "./base/generales";
@import "./components/index";
@import "./components/galeria";
@import "./components/delantales";
@import "./components/almohadones";
@import "./components/sobre_nosotros";
@import "./components/contacto";
@import "./components/footer";
@import "./base/queries";